.container {
  padding: 1rem;
}

.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container header button {
  width: auto;
  background: darkred;
  color: #fff;
}

.boxes {
  display: flex;
  gap: 1rem;
}

.box {
  min-width: 200px;
  color: #333;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-decoration: none;
}
.box:hover {
  background: #eee;
}

.box h3 {
  margin-bottom: 0;
}
