.footer {
  padding: 1rem;
  background: green;
  color: white;
}
.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.section iframe {
  width: 100%;
  height: 300px;
}

.notice {
  text-align: center;
}

@media (min-width: 600px) {
  .section > div:last-child {
    justify-self: end;
  }
}
.socialMedia {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 3rem;
}

.socialMedia li {
  margin-bottom: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.socialMedia a {
  text-decoration: none;
  color: #fff;
}
