.cart_con {
  display: inline-block;
  position: relative;
}

.cart_con img {
  transform: translateY(2px);
}

.items_in_cart {
  width: 18px;
  height: 18px;
  font-size: 0.7rem;
  text-align: center;
  position: absolute;
  top: -15%;
  right: -25%;
  color: white;

  background: #e08700;
  border-radius: 50%;
  line-height: 1;
  padding: 3px;
}
